*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: hsl(39, 98%, 62%);
    --lighter: hsl(39, 88%, 81%);
    --secondary: hsl(346, 65%, 51%);
    --brightner: brightness(1.1);
}


/* COMMON */
body{font-family: Arial, Helvetica, sans-serif; background-color: antiquewhite;}
main{background-color: white;}
.my-wrapper{position: relative; height: 100vh; margin: 0 auto;}
.my-check {width: 15px; height: 15px; background-color: var(--secondary);}
.my-add {color: var(--secondary);}

/* HEADER */
header{height: 200px; position: relative; background-color: var(--primary);}
.my-header {height: 150px;}
.logo-img img{height: 250px; position: absolute; top: -30px; right: -50px;}
.title {font-weight: 600;}

/* MAIN */
main{height: 100%;}
#burgerName{border: none; font-size: 34px;}
#burgerName:focus, #burgerName:active{border: none;}

.ingredient_img{width: 70px;}
.ingredient_title{text-transform: capitalize;}
.ingredient_checkbox label{color: var(--secondary);}
.ingredient_checkbox input{background-color: var(--secondary);}


#couponCode{width: 80%; margin-left: 20px; background-color: var(--lighter); border-radius: 5px; border: none; text-transform: uppercase; height: 30px;}

.calculate {width:100%; text-align: center; margin: 15px auto;}
#my_btn{border: none; background-color: var(--primary); padding: 15px 25px; border-radius: 5px; font-weight: 600;}
#my_btn:hover{filter: var(--brightner)}


/* FOOTER */

#total {width:100%; height: 250px; background-color: var(--secondary);
color: white; font-weight: 600; font-size: 36px;}
#

/* debug =%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%=%  */
.debug header {background-color: var(--primary)}